@{
    ViewBag.Title = "Chat";
}


<div id="sidepanel">
    <div id="contacts">
        <ul>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status online"></span>
                    <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                    <div class="meta">
                        <p class="name">Louis Litt</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status busy"></span>
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <div class="meta">
                        <p class="name">Harvey Specter</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status away"></span>
                    <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
                    <div class="meta">
                        <p class="name">Rachel Zane</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status online"></span>
                    <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                    <div class="meta">
                        <p class="name">Donna Paulsen</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status busy"></span>
                    <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
                    <div class="meta">
                        <p class="name">Jessica Pearson</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status"></span>
                    <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
                    <div class="meta">
                        <p class="name">Harold Gunderson</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status"></span>
                    <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
                    <div class="meta">
                        <p class="name">Daniel Hardman</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status busy"></span>
                    <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
                    <div class="meta">
                        <p class="name">Katrina Bennett</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status"></span>
                    <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
                    <div class="meta">
                        <p class="name">Charles Forstman</p>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <span class="contact-status"></span>
                    <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
                    <div class="meta">
                        <p class="name">Jonathan Sidwell</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-users fa-fw" aria-hidden="true"></i> <span>Online User(s)</span></button>
    </div>
</div>
<div class="content">
    <div class="messages">
        <ul>
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>When you're backed against the wall, break the god damn thing down.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>Excuses don't win championships.</p>
            </li>
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                <p>Oh yeah, did Michael Jordan tell you that?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>No, I told him that.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>What are your choices when someone puts a gun to your head?</p>
            </li>
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                <p>What are you talking about? You do what they say or they shoot you.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" placeholder="Write your message..." />
            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function () {
        $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function () {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function () {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
            $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
            $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
            $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
            $("#profile-img").addClass("offline");
        } else {
            $("#profile-img").removeClass();
        };

        $("#status-options").removeClass("active");
    });

    function newMessage() {
        message = $(".message-input input").val();
        if ($.trim(message) == '') {
            return false;
        }
        $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
        $('.message-input input').val(null);
        $('.contact.active .preview').html('<span>You: </span>' + message);
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    };

    $('.submit').click(function () {
        newMessage();
    });

    $(window).on('keydown', function (e) {
        if (e.which == 13) {
            newMessage();
            return false;
        }
    });
//# sourceURL=pen.js
</script>